DATABASE_URL="postgresql://user:password@ep-xxxx.us-east-1.aws.neon.tech/neondb?sslmode=require"
REDIS_URL="rediss://default:password@your-endpoint.upstash.io:6379"
PORT=3001
FRONTEND_URL=http://localhost:5173
NODE_ENV=production
